<div class="wrapper-md" ng-controller="CareerController">
    <div class="row">
        <div class="col-md-12">


            <div class="panel panel-default">

                <div class="panel-heading">
                    Cursos Disponibles
                </div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-12">

                           <div class="row">
                            <div class="col-md-12">
                                <hr>
                                <h3>Cursos Gratuitos</h3></div>
                        </div>
                    </div>

                            <div class="row">



                                <div class="col-md-4 col-xs-12">

                                    <div class="cuadro_intro_hover " style="background-color:#ffff;">
                                        <p style="text-align:center; margin-top:10px; margin-bottom: 20px">
                                            <img src="img/neosuniv/git3.png" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption">
                                            <div class="blur"></div>
                                            <div class="caption-text">
                                                <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:5px;">
                                                    Git/Github de principiante a experto</h3>
                                                <p>En este curso comprenderas las bases para poder usar el controlador
                                                    de versiones Git y subir tu proyecto a Github</p>
                                                <!-- ui-sref="app.cursogit" -->
                                                <a class="btn btn-success" href="" ng-click="detalle(1,'GIT')"><span
                                                        class="glyphicon glyphicon-plus"> Detalle</span></a>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-4 col-xs-12">

                                    <div class="cuadro_intro_hover " style="background-color:#ffff;">
                                        <p style="text-align:center; margin-top:10px; margin-bottom: 20px">
                                            <img src="img/neosuniv/java11new.png" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption">
                                            <div class="blur"></div>
                                            <div class="caption-text">
                                                <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">
                                                    Workshop Java 11  + Git/Github <br/></h3>
                                                <p>En este workshop comprenderás la orientación a objetos con Java e  IntelliJ.</p>
                                                <!-- ui-sref="app.cursogit" -->
                                                <a class="btn btn-success" href="" ng-click="detalle(2,'JAVA 10')"><span
                                                        class="glyphicon glyphicon-plus"> Detalle</span></a>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>


                        </div>


                    </div>


                    <div class="row">

                        <div class="col-md-12" ng-if ="true === true">
                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                    <h3>Cursos Premium</h3></div>
                                </div>
                            </div>

<div class="col-md-12">
                            <div class="row">


                                <div class="col-md-4 col-xs-12">

                                    <div class="cuadro_intro_hover " style="background-color:#ffff;">
                                        <p style="text-align:center; margin-top:10px; margin-bottom: 20px">
                                            <img src="img/neosuniv/java11-oracle.jpg" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption">
                                            <div class="blur"></div>
                                            <div class="caption-text">
                                                <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:5px;">
                                                    Curso Premium Java 11 + Git/Github</h3>
                                                <p>En este curso te llevaremos de un nivel cero a un desarrollador profesional Java Jr
                                                  </p>
                                                <!-- ui-sref="app.cursogit" -->
                                                <a class="btn btn-success" href="" ng-click="detalle(4,'Java11Premium')"><span
                                                        class="glyphicon glyphicon-plus"> Detalle</span></a>
                                            </div>
                                        </div>
                                    </div>


                                </div>



                            </div>
</div>

                        </div>


                    </div>

                </div>


            </div>
        </div>

    </div>

</div>