<div class="container " ng-controller="SigninFormController" ng-init="app.settings.container = false;">

  <a href class="navbar-brand block m-t">{{app.name}}</a>

  <div class="row">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Sign In..</div>

        </div>     

        <div style="padding-top:30px" class="panel-body" >

          <div uib-alert ng-repeat="alert in alerts" class="alert col-sm-12" ng-class="'alert-' + (alert.type || 'danger')" 
          close="closeAlert($index)">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

          {{alert.msg}}
        </div>

        

        <form id="form" name="form" class="form-horizontal" role="form" novalidate>


          <!-- Prepended text-->
          <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
            <label class="col-md-2 control-label" for="email">E-mail</label>
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input ng-model="user.email" id="email" name="email" class="form-control" placeholder="E-mail" type="email" required>
              </div>

              <div   class="help-block"  ng-messages="form.email.$error" ng-if="form.email.$touched"  >
                
               <div ng-message="required">El correo es requerido</div>
               <div ng-message="email">El correo ingresado es incorrecto</div>

             </div>


           </div>
         </div>




         <!-- Prepended text-->
         <div class="form-group" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
          <label class="col-md-2 control-label" for="password">Password</label>
          <div class="col-md-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input ng-model="user.password" id="password" name="password" class="form-control" placeholder="Password" type="password" required>
            </div>
            <div   class="help-block "  ng-messages="form.password.$error" ng-if="form.password.$touched"  >
              
              <div ng-message="required">El password es requerido</div>

            </div>
          </div>
        </div>

            <div class="form-group" >
                <label class="col-md-2 control-label" ></label>
                <div class="col-md-10" style="margin-top: 0;
    margin-bottom: 0;">
                    <div style="float:right; font-size: 100%; position: relative; top:-10px"><a style="color:#337ab7" ui-sref="access.reset-pwd">¿Olvidaste tu password?</a></div>
                </div>
            </div>

        
        <div style="margin-top:10px" class="form-group">
          <!-- Button -->

          <div class="col-sm-12 controls">
            
            <button type="submit" class="btn btn-lg btn-success  btn-block" promise-btn="service"  ng-click="login()" ng-disabled='form.$invalid'>Acceder
             
              

            </button> 
            
          </div>
        </div>


        <div class="form-group">  
          <div class="col-md-12 control">
           <div class="line line-dashed"></div>
           <p class="text-center">¿No tienes una cuenta?   </p>
           <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Crea una cuenta gratis</a>
           
         </div>
       </div>    




     </form>     



   </div>                     
 </div>  
</div>
</div>    


<div class="row">

  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>
</div>